*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form-section {
    background-color: #ffab00;
}

.containeer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.inner-container {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px;
    border-top: 6px solid #002365;
}

h1 {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
}

form{
    width: 100%;

}

.form-section form .input-wrap{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.form-section form .input-wrap input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid #bababa;
    transition: all 0.3s ease;
}

.form-section form .input-wrap input:focus{
    border-color: #002365;
}

.form-section .input-wrap label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.input-wrap input:focus ~ label{
    top: 0%;
    font-size: 16px;
    color: #002365;
    background: #fff;
    transform: translateY(-50%);
    padding: 10px;
}

.remember-pass{
    text-transform: capitalize;
    padding-bottom: 25px;
    font-size: 15px;

}

.social-icon button{
    display: block;
}

button{
    width: 100%;
    padding: 13px;
    margin: 10px 0 10px 0;
    background: #002365;
    border: 0;
    color: #ffffff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
}

.google-btn{
    background-color: #DB4437;

}

.fb-btn{
    background-color: #4267B2;
}

.social-icon i{
    padding-right: 10px;
}

.extra-feild {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

.forgot-pass a{
    color: #0f3d93;
    text-decoration: none;
    font-size: 14px;
}